/* .pantheon-at-a-glance-container {
    background-color: var(--overview-bg-color);
} */


.pantheon-at-a-glance-container .container .about {
    background-color: var(--overview-bg-color);
    box-shadow: 0 0 0 100vmax var(--overview-bg-color);
    clip-path: inset(0 -100vmax);
}

.pantheon-at-a-glance-container .mission {
    background-color: var(--pantheon-mustard-v2);
    box-shadow: 0 0 0 100vmax var(--pantheon-mustard-v2);
    clip-path: inset(0 -100vmax);
}

.pantheon-at-a-glance-container .mission .mission_icon {
    width: 100%;
    display: flex;
    justify-content: end;
}

.pantheon-at-a-glance-container .mission .mission_icon img {
    max-height: 80vh;
    position: absolute;
    bottom: 0;
    right: 0;
}


.pantheon-at-a-glance-container .mission .d-flex {
    position: relative;
}

.pantheon-at-a-glance-container .vision {
    position: relative;
    background-color: var(--pantheon-blue);
    box-shadow: 0 0 0 100vmax var(--pantheon-blue);
    clip-path: inset(0 -100vmax);
    background-image: url('https://cdn.jsdelivr.net/gh/PantheonSchool/pantheon-assets@latest/Images/vision_backround_1.jpg');
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 100%;
    min-height: 100vh;
    z-index: 1;
}

.pantheon-at-a-glance-container .vision .h-100 {
    z-index: 10;
}

.pantheon-at-a-glance-container .vision::before {
    position: absolute;
    content: '';
    height: 29%;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--pantheon-blue);
    z-index: -1;
}

.pantheon-at-a-glance-container .vision .content {
    background-color: var(--pantheon-blue);
}

.pantheon-at-a-glance-container .approach {
    background-color: var(--pantheon-blue);
    box-shadow: 0 0 0 100vmax var(--pantheon-blue);
    clip-path: inset(0 -100vmax);
    position: relative;
}

.pantheon-at-a-glance-container .approach::before {
    background: url('https://cdn.jsdelivr.net/gh/PantheonSchool/pantheon-assets@latest/Images/approach_hd.jpg');
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: 0% center;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.director .director_img img {
    width: 250px;
}

@media (max-width: 992px) {
    .director .director_img img {
        width: 250px;
    }

    #_pantheon_at_a_glance_icon img {
        height: 300px;
        object-fit: contain;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        opacity: 0.6;
    }

    .pantheon-at-a-glance-container .content {
        flex-direction: column;
        position: relative;
        z-index: 0;
    }

    .pantheon-at-a-glance-container .mission .mission_icon img {
        object-fit: contain;
        z-index: -1;
        opacity: 0.11;
    }

    .pantheon-at-a-glance-container h1 {
        text-align: center;
    }

    .pantheon-at-a-glance-container .approach::before {
        /* background: url('https://cdn.jsdelivr.net/gh/PantheonSchool/pantheon-assets@latest/Images/approach_hd.jpg'); */
        background-size: cover;
        opacity: 0.1;
    }
}

/*DIRECTOR MESSAGE CSS*/

.director {
    background-color: var(--overview-bg-color);
    box-shadow: 0 0 0 100vmax var(--overview-bg-color);
    clip-path: inset(0 -100vmax);
}

.director .logo img {
    height: 100%;
}

.director .content .sign img {
    width: 200px;
}

@media (max-width:768px) {
    .director .content .sign img {
        width: 150px;
    }
}