:root {
    --overview-bg-color: #84101b
}

.step-container .step-box .heading {
    position: absolute;
    top: -30px;
    left: 0;
}

.step-container .step-box .content {
    margin-top: 45px;
}

.step-container .step-box .heading .icon {
    background: white;
    font-size: 50px;
    border-radius: 4px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* .step-container .step-box .heading .icon svg {} */

.step-container .step-box {
    border: 5px solid white;
    border-radius: 6px;
    border-bottom-right-radius: 35px;
}

.admisson-overview {
    margin-top: 0.2rem;
    box-shadow: 0 0 0 100vmax var(--overview-bg-color);
    clip-path: inset(0 -100vmax);
}

.admission-procedure{
    /* position: relative;
    top: 2rem; */
    margin-top: 2.5rem;
    font-size: 1.5rem;
}

.admission-procedure-para{
    font-size: 1rem;
    /* position: relative;
    top: 2.5rem; */
    margin-top: 0.5rem;
}

@media (min-width:768px){
    .admission-procedure-para{
        width: 88%;
    }
}

@media (min-width:992px) {
    .admisson-overview .second-step div:last-child .step-container .step-box .content {
        padding: 5rem 0 !important;
    }
}