.post .image ._skeletonImg{
    display: none;
}

.modal.show{
    display: flex !important; 
    align-items: center !important;
    justify-content: center !important;
}

.skeleton .post .image ._skeletonImg {
    display: block;
    opacity: 0.7;
    animation: skeleton-loading 1s linear infinite alternate;
    height: 285px;
}

.skeleton .post .date{
    width: 75%;
    height: 0.75rem;
    animation: skeleton-loading 1s linear infinite alternate;
    margin-left: 0.5rem;
}

.skeleton .post .title{
    width: 90%;
    height: 1rem;
    animation: skeleton-loading 1s linear infinite alternate;
    margin-left: 0.5rem;
}

.post .skeleton-text{
    display: none;
}

.skeleton .post .skeleton-text{
    display: block;
    width: 95%;
    height: 0.5rem;
    animation: skeleton-loading 1s linear infinite alternate;
    margin-left: 0.5rem;
    margin-bottom: 0.25rem;
}

.skeleton .post .skeleton-text:last-child{
    width: 75%;
    margin-bottom: 0;
}

.skeleton .post .image img{
    display: none;
}

.modal-body.posts .post{
    margin: 0;
    padding: 0;
}

.modal-body.posts .post .body{
    padding-bottom: 20px;
}

.my-masonry-grid {
    display: -webkit-box; 
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px; 
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px;
    background-clip: padding-box;
  }

  .my-masonry-grid_column > div { 
    display: flex;
    justify-content: center;
  }
